.meal-card {
    background-color: #EDEFEE;
    border-radius: 15px;
    padding-bottom: 20px;
    width: 30%;

    .description {
        font-size: 16px;
        line-height: 1.5;
        padding: 0 15px;
    }

    .delivery {
        align-items: center;
        display: flex;
        padding: 0 15px;

        .icon {
            margin-left: 10px;
        }
    }

    .img-wrap {
        border-radius: 15px 15px 0 0;
        overflow: hidden;

        .img-meal {
            height: 200px;
            object-fit: cover;
            width: 100%;

            &:hover {
                transform: scale(1.1);
                transition: all ease-in-out 0.3s;
            }
        }
    }

    .meal-card-header {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;

        .name {
            font-size: 18px;
            font-weight: 700;
            margin: 0;
        }

        .price {
            color: #EE9972;
            font-size: 16px;
            font-weight: 500;
        }
    }
}